.wrapper {
  max-width: 1224px;
  padding: 30px 20px;
  margin: 0 auto;
  font: 16px/14px 'Nunito', sans-serif;
}

.centered{

  width: 50%;
  padding: 30px 20px;
  margin: 10px auto;
  font: 16px/14px 'Nunito', sans-serif;
  text-align: center;
}

.searchBar{
  margin: 20px;
  padding: 20px;

}